{% extends 'base.html.twig' %}

{% block title %}Manage Planets{% endblock %}

{% block body %}
<div class="m-4 p-4 bg-gray-800 rounded-lg">
    <h1 class="text-xl font-semibold text-white mb-4">Planets</h1>

    <ul>

        {% for planet in planets %}
            <li class="even:bg-gray-700 odd:bg-gray-600">
                <h2 class="font-semibold text-lg mt-4">
                    <a
                            href="{{ path('app_planet_show', {'id': planet.id}) }}" class="text-blue-400 hover:text-blue-600">{{ planet.name }}</a>
                </h2>

                <p class="px-6 py-4">{{ planet.description }}</p>
{#                <td class="px-6 py-4 whitespace-nowrap float-right">{{ planet.lightYearsFromEarth }}</td>#}
            </li>
        {% endfor %}
    </ul>

{#    <sup>*</sup>Distance is measures in millions of kilometers from the Sun.#}
</div>
{% endblock %}
