{% extends 'base.html.twig' %}

{% block title %}Swiper{% endblock %}

{% block body %}
    <div data-controller="carousel"
         class="swiper-container">
        <div class="swiper-wrapper">
            {% for planet in planets %}
                <div class="swiper-slide">
                    <img src="{{ planet.resized.large|default('https://dummyimage.com/600x400/000/fff?text=no-image') }}" />
                    {{ planet.description }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

